/node_modules
/public/css
/public/js
/public/hot
/public/storage
/public/vendor/statamic
/public/vendor/buildamic
/public/mix-manifest.json
/storage/*.key
/vendor
/docker/volumes/*
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
