:root {
  --color-primary: hsl(276, 47%, 37%);
  --color-primary-dark: hsl(276, 47%, 25%);
  --color-secondary: #ee5354;
  --color-tertiary: #f5f0df;
  --color-quaternary: #000000;
  --color-quinary: #000000;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-sand: #e8e1c9;
  --color-lightgray: #f3f4f6;
  --color-link: var(--color-secondary);
  --color-link-hover: #b44141;
  --color-text-main: #270e36;
  --color-text-headings: inherit;
  --font-main: "Quicksand";
  --font-headings: "Quicksand";
  --font-buttons: "Libre Baskerville";
  --form-field-height: 2rem;
  --form-field-font-family: var(--font-main);
  --form-field-padding-y: 0.8rem;
  --form-field-padding-x: 1.4rem;
  --form-input-radius: 5px;
  --form-field-background-color: var(--color-tertiary);
  --stdColor: #333;
  --brand-purple: #67328a;
  --container-width: 1280px;
  --col-gap: 1rem;
  --section-padding: 2rem;
  --row-padding: 2rem;
}

@include media-breakpoint-up(md) {
  :root {
    --col-gap: 3rem;
  }
}
