@use "sass:math";

@import "main-header";
@import "hamburger";
@import "menus";
@import "main-nav";
@import "footer-nav";

// Add flex gap
.flex[class*="col-gap"] {
    gap: var(--col-gap);
}

// Main container
.container {
    margin: 0 auto;
}

// This is how you can hide stuff in vue until it's fully loaded
[v-cloak] {
    display: none;
}
