#mobile-nav {
    @apply h-screen flex flex-col fixed top-0 gap-6 right-0 z-[1000] bg-gray-600 overflow-y-auto transition-transform py-24 px-12 w-80 translate-x-full;

    .nav {
        @apply block;
    }

    .nav-item {
        @apply font-light;
        @include fontSize(16, 16);
    }

    a:not(.btn) {
        @apply text-white;
    }
}

.nav-toggle:checked ~ * .nav {
    @apply block translate-x-0;
}

body.--mobile-menu-open #mobile-nav {
    @apply translate-x-0;
}

// If no JS is enabled, then the nav becomes the mobile menu drawer
.no-js .nav-wrapper {
    .nav__primary_navigation {
        @apply h-screen fixed top-0 right-0 z-[1000] bg-gray-600 overflow-y-auto transition-transform py-24 px-12 w-80 translate-x-full;
    }
}

.nav__primary_navigation {
    a:not(.btn) {
        @apply text-white;
    }
    > .nav-items {
        --nav-spacing: 1rem;
    }
    @include media-breakpoint-up(lg) {
        @apply bg-transparent static h-auto p-0;
        > .nav-items {
            --nav-spacing: 0.4rem;
            > .nav-item {
                @include fontSize(18);
                a {
                    @apply block font-normal text-black p-2;
                }
                > a {
                    @apply p-0 py-8;
                }

                &__current,
                &__ancestor {
                    @apply underline;
                }
            }
        }

        .nav-items {
            .nav-item {
                @apply font-light;
                @include fontSize(16, 16);
                &__has-children {
                    @apply text-secondary;
                }
                a {
                    @apply text-white;
                }
            }
        }
    }
}
