.card {
    &--has-icon.grid {
        grid-template-rows: 2.5rem 1fr;
        gap: 0;
    }
    &--inner-border {
        @include dashedInnerBorder();
    }
}

.card-activity {
    &::before {
        @include ActivityCircle("top");
        text-transform: lowercase;
        font-size: 0.8rem;
        font-weight: bold;
    }
}

.card-activity-two {
    .collection__image {
        position: relative;
        &::before {
            @include ActivityCircle("bottom");
            text-transform: lowercase;
        }
    }
}
