body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  line-height: $font__line-height-body;
  font-weight: $font-weight-normal;
  letter-spacing: 0.08em;
  @include fontSize(16);
}

@import "headings";
@import "copy";
@import "links";
